<mat-card *ngFor="let item of items; let i = index">
  <form>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="item.name" name="name-{{item.id}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Path" [(ngModel)]="item.path" name="path-{{item.id}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Module" [(ngModel)]="item.module" name="module-{{item.id}}">
      </mat-form-field>
      <div>
        <mat-checkbox *ngFor="let checkbox of types"
        [(ngModel)]="item.types[checkbox.value]"
        name="checkbox-{{checkbox.name}}-{{item.id}}">{{checkbox.name}}</mat-checkbox>
      </div>
      <div>
        <mat-checkbox *ngFor="let checkbox of flags"
        [(ngModel)]="item.flags[checkbox.value]"
        name="checkbox-{{checkbox.name}}-{{item.id}}">{{checkbox.name}}</mat-checkbox>
      </div>
      <mat-card *ngIf="item.name">
        <mat-card-title>
          Terminal Command
        </mat-card-title>
        <mat-card-content>
          <div class="code-block">{{builtString(item)}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button ngxClipboard [cbContent]="builtString(item)" (cbOnSuccess)="copyClipboard()">Copy Code</button>
        </mat-card-actions>
      </mat-card>
    </form>
    <mat-card-actions align="right">
        <button mat-raised-button (click)="copyItem(item)">Copy Item</button>
        <button mat-raised-button color="warn" (click)="deleteItem(item.id)">Delete</button>
    </mat-card-actions>
</mat-card>


<button mat-raised-button color="primary" (click)="newItem()">Add</button>
