<mat-card>
  <form *ngFor="let item of items; let i = index">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="item.name" name="name-{{item.id}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Path" [(ngModel)]="item.path" name="path-{{item.id}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Module" [(ngModel)]="item.module" name="module-{{item.id}}">
      </mat-form-field>
      <div>
        <mat-checkbox *ngFor="let checkbox of types"
        [(ngModel)]="item.types[checkbox.value]"
        name="checkbox-{{checkbox.name}}-{{item.id}}">{{checkbox.name}}</mat-checkbox>
      </div>
      <div>
        <mat-checkbox *ngFor="let checkbox of flags"
        [(ngModel)]="item.flags[checkbox.value]"
        name="checkbox-{{checkbox.name}}-{{item.id}}">{{checkbox.name}}</mat-checkbox>
      </div>

      <div *ngIf="item.name">
        <h1>Terminal Command</h1>
        {{builtString(item)}}
      </div>
      <button mat-raised-button (click)="copyItem(item)">Copy</button>
      <button mat-raised-button color="warn" (click)="deleteItem(item.id)">Delete</button>
    </form>
</mat-card>


<button mat-raised-button color="primary" (click)="newItem()">Add</button>
