/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "styles/material";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}
body {
  background: darken(white, 5%);
}

.container-main {
  padding-top: 20px;
}

.code-block {
  background: lighten(#ccc, 10%);
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  font-size: 15px;
}
